@import "tailwindcss";

@layer base {
  :root {
    --background: #fcfcfc;
    --foreground: #000000;
    --brand: #A3FF00;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--brand);
    color: black;
  }
}

@theme {
  --font-serif: "Playfair Display", serif;
  --color-brand: #A3FF00;
}

.bg-brand { background-color: var(--brand); }
.text-brand { color: var(--brand); }
.border-brand { border-color: var(--brand); }
